html {
height: 100% ;
}

body{
background-color: gray;
height: 100%;

}

svg {
background-color: #d3d3d3;
display: block;
margin: 25px auto;
}
.difficulty, .enemycount{
   position: relative;
   top: 4px;
}